<div *ngIf="posts.length > 0; else elseBlock">
  <div class="card" *ngFor="let post of posts">
    <div class="card-header">
      <div class="user-profile-side">
        <img src={{post.profile_picture}} alt="Profile Picture" class="profile-pic" />
        <div class="user-info">
          <h3 class="user-name">{{post.username}}</h3>
          <p class="user-headline">{{post.userheadline}}</p>
          <p class="post-time">2h • Edited</p>
        </div>
      </div>
      <div class="option-con">
        <img src="/assets/images/dots.png" alt="" class="option">
      </div>
    </div>
    <div class="card-body">
      <p class="post-text">
        {{post.post_content}}
      </p>
      <div *ngIf="post.isVideo" style="width: inherit;">
        <video width="100%" controls>
          <source [src]="post.images" type="video/mp4">
          <source [src]="post.images" type="video/ogg">
          Your browser does not support HTML video.
        </video>
      </div>
      <img *ngIf="post.media_type != 'text' && post.images != '' && !post.isVideo"[src]="post.images!= '' ? post.images :'https://via.placeholder.com/600x300'" alt="Post Image"
        class="post-image" />
    </div>
    <div class="card-footer">
      <button class="action-button">{{post.likes_count}} &nbsp;Like</button>
      <button class="action-button" (click)="toggleCommentSection(post.id)">{{post.comment.length}} &nbsp;
        Comment</button>
      <button class="action-button">Share</button>
    </div>
    <div *ngIf="post.showCommentSection" class="comment-section">
      <form (ngSubmit)="addComment(post.id, post , post.newComment)" class="comment-section-form">
        <input [(ngModel)]="post.newComment" name="comment" placeholder="Add a comment..." required />
        <button type="submit">Submit</button>
      </form>
      <div class="comment-box" *ngIf="post.comment.length>0">
        <div *ngFor="let comment of post.comment" class="comment">
          <p>{{comment.comment_text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #elseBlock>
  <span> YOU haven't Post till now</span>
</ng-template>