<div class="create-post-container">
    <div class="header">
      <!-- <div class="username">{{nameOfUsers}}</div> -->
      <button class="cancel-button" (click)="cancelPost()">Cancel</button>
    </div>
    
    <textarea
      class="post-textarea"
      placeholder="What's on your mind?"
      [(ngModel)]="postContent"
    ></textarea>
    
    <div class="actions">
      <mat-icon (click)="onImageUploadClick()">image</mat-icon>
      <mat-icon (click)="openOptions()">more_horiz</mat-icon>
    </div>
  
    <input type="file" #fileInput (change)="onFileSelected($event)" hidden accept="image/png, image/jpeg , video/mp4" />
    <div *ngIf="imagePreview" class="parent-preview">
      <img [src]="imagePreview" alt="Image Preview" class="preview" *ngIf="!isVideoUploaded" />
      <video width="100%" controls *ngIf="isVideoUploaded">
        <source [src]="imagePreview" type="video/mp4">
        <source [src]="imagePreview" type="video/ogg">
        Your browser does not support HTML video.
      </video>
    </div>
    
    <button class="submit-button" (click)="submitPost()">Post</button>
  </div>
  
  <!-- Snackbar content -->
  <ng-template #options>
    <div class="options-container">
      <button mat-button (click)="addMedia()">Media</button>
      <button mat-button (click)="addPoll()">Poll</button>
      <button mat-button (click)="addDocument()">Document</button>
      <button mat-button (click)="addVideo()">Video</button>
    </div>
  </ng-template>
  